/*-------------------------------------------*\
    body
\*-------------------------------------------*/
body {
  /* dimensions */
  width: 100%;
  height: 100%;

  /* position */
  margin: 0px;

  /* position */
  position: absolute;

  /* text */
  font-size: 16px;

  /* content display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* colors */
  background-color: #000000;
}

/*-------------------------------------------*\
    container
\*-------------------------------------------*/

.container {
  /* content display */
  display: flex;

  /* others */
  border: 8px solid #518f39;
}

/*-------------------------------------------*\
    calculator
\*-------------------------------------------*/

.container > .calculator {
  /* content display */
  display: flex;
  flex-direction: column;

  /* colors */
  background-color: #518f39;
}

.container > .calculator > #screen {
  /* dimensions */
  width: 512px;
  height: 96px;

  /* colors */
  border: 10px solid #ebe70a;
  background-color: #ffffff;

  /* text */
  text-align: right;
  font-size: 24px;
  line-height: 16px;

  /* others */
  /* auto hidden */
  overflow-y: hidden;
  overflow-x: scroll;
  box-sizing: border-box;
  padding: 20px;
}

.container > .calculator > #keypad {
  /* dimensions */
  width: 512px;
  height: 512px;

  /* content display */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > .calculator > #keypad > .key {
  /* dimensions */
  width: 64px;
  height: 64px;

  /* dimensions */
  margin: 16px;

  /* text */
  font-size: 32px;
  text-align: center;
  line-height: 64px;

  /* Disabled text select */
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  /* colors */
  background-color: #000000;
  color: #ffffff;

  /* others */
  cursor: pointer;
}

.container > .calculator > #keypad > #equal {
  /* colors */
  background-color: #2c34ac;
  color: #ffffff;
}

.container > .calculator > #keypad > .key:hover {
  /* colors */
  background-color: #ffffff;
  color: #000000;

  /* others */
  transition: 1s;
}

/*-------------------------------------------*\
    history
\*-------------------------------------------*/

.container > #history {
  /* dimensions */
  width: 384px;
  height: 576px;

  /* content display */
  flex: 5;
  justify-content: center;

  /* colors */
  background-color: #000000;
}

.container > #history > #historyHeader {
  /* dimensions */
  height: 64px;

  /* text */
  text-align: center;
  line-height: 48px;
  font-size: 24px;

  /* colors */
  background-color: #ebe70a;

  /* others */
  border: 10px solid #518f39;
  border-top: 0px;
  box-sizing: border-box;
}

.container > #history > #historyList {
  /* dimensions */
  max-height: 512px;

  /* content display */
  display: flex;
  flex-direction: column-reverse;

  /* colors */
  color: #ffffff;

  /* others */
  overflow-y: auto;
}

.container > #history > #historyList > div {
  /* content display */
  display: flex;
}

.container > #history > #historyList > div > .historyExpression {
  /* position */
  margin: 5px;

  /* text */
  text-align: center;

  /* content display */
  flex: 7;

  /* others */
  border: 5px solid #ebe70a;
  border-radius: 0px 20px 20px 0px;
  padding: 5px;
  cursor: pointer;
}

.container > #history > #historyList > div > .historyResult {
  /* position */
  margin: 5px;

  /* text */
  text-align: center;
  font-size: 24px;

  /* content display */
  flex: 3;

  /* others */
  border: 5px solid #2c34ac;
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
  padding: 5px;
}
