body {
  background-color: rgb(0, 26, 255);
}

.container {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
}

.calculator {
  background-color: rgb(81, 143, 57);
  flex: 7;
}

.history {
  flex: 3;
  background-color: #999;
}

.calculatorScreen {
  background-color: rgb(224, 70, 70);
  text-align: right;
  height: 5vw;
  padding: 16px;
  font-size: 25px;
}

.calculatorKeypad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #999;
  border-left: 1px solid#999;
}

.calculatorKeypad > div {
  border-top: 1px solid #999;
  border-right: 1px solid#999;
}

.key {
  width: 7vw;
  height: calc(7vw);
  margin-left: 3.2vw;
  margin-right: 3.2vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  border: 0.5px solid #999;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

#equal {
  background-color: rgb(85, 85, 255);
  color: white;
}

.key:hover {
  background-color: #323330;
  color: white;
  transition: 0.5s ease-in-out;
}
